version: "3.8"

services:
  web-fe:
    image: nassif01/swarm-app:ctr2026new
    ports:
      - "3000:8080"
    networks:
      - prod1
    deploy:
      replicas: 4
      placement:
        constraints:
          - node.role != manager

  redis:
    image: redis:alpine
    networks:
      - prod1
    deploy:
      placement:
        constraints:
          - node.role != manager

networks:
  prod1:
    driver: overlay
    attachable: true